In [2]:
#1. Write a program to print all natural numbers from 1 to n. – using while loop
for i in range(1, 21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
# 2. Write a program to print all natural numbers in reverse (from n to 1). –using while loop
for i in range(20, 0, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [4]:
# 3. Write a program to print all alphabets from a to z. – using for loop

In [5]:
# 4. Write a program to print all even numbers between 1 to 100. – using for loop
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
# 5. Write a program to find the sum of all odd numbers between 1 to n using for loop
x = int(input("Enter a number: "))
y=0
for i in range(1, x+1):
    if(i%2!=0):
        y+=i
print(y)

Enter a number: 45
529

In [11]:
# 6. Write a program to count the number of digits in a number using for loop
x = int(input("Enter a number: "))
y=0
for i in range(100):
    if(x>0):
        y+=x%10
        x//= 10
    else:
        break
print(i)

Enter a number: 345
3

In [15]:
# 7. Write a program to calculate the sum of digits of a number.
x=int(input("Enter a number: "))
y=0
count=0
for i in range(100):
    if(x > 0):
        y+=x%10
        count+=1
        x//=10
    else:
        break

print("Total number of digits:", count)
print(y)

Enter a number: 1234
Total number of digits: 4
10

In [17]:
# 8. Write a program to find the first and last digit of a number.

In [18]:
# 9. Write a program to find the sum of first and last digit of a number.

In [28]:
# 10.Write a program to enter a number and print its reverse.
x=int(input("Enter a number: "))
y=0
for i in range(100):
    if (x>0):
        i=x%10
        y=y*10+i
        x//= 10
    else:
        break
print("Reversed number:", y)

Enter a number: 21
Reversed number: 12