In [ ]:
x=100
print(id(x))

10754024

In [ ]:
a=x
print(id(x))

10754024

In [ ]:
age=18
newage=age
print(id(age), id(newage))

10751400 10751400

In [ ]:
x=90
a=x
print(id(x), id(a))
x=12
print("after", id(x), id(a))

10753704 10753704
after 10751208 10753704

In [ ]:
x=10
a=10
print(id(x), id(a))

10751144 10751144

In [ ]:
x=256
a=256
print(id(x), id(a))
# same memory value

10759016 10759016

In [ ]:
x=257
a=257
print(id(x), id(a))
# change the memory value

137093448801648 137093448801904

In [ ]:
#learn
#datatype
#operator
#arithmetic, comparison, logical, assignment, membership, identity, slicing and indexing

In [ ]:
# today start topic
# for loop
# loops=> repeatitive task

In [ ]:
# for(i=0; i<condition; i++)
# range(0,5)
for i in range(0,5):
  print("hey", i)

hey 0
hey 1
hey 2
hey 3
hey 4

In [ ]:
for i in range(2,5):
  print("hey", i)

hey 2
hey 3
hey 4

In [ ]:
for x in range(3,8):
  print("hey", x)

hey 3
hey 4
hey 5
hey 6
hey 7

In [ ]:
for x in range(8,3,-1):
  print("hey", x)

hey 8
hey 7
hey 6
hey 5
hey 4

In [ ]:
for i in range(0,21):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(20,0,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for x in range(2,7):
  if(x%2==0):
    print("even",x)
  else:
    print("odd",x)

even 2
odd 3
even 4
odd 5
even 6

In [ ]:
for x in range(1,51):
  if(x%2==0 and x%4==0):
    print(x)

4
8
12
16
20
24
28
32
36
40
44
48

In [ ]:
for i  in range(70,81):
  if(i%2==0 and i%5==0):
    print(i)

70
80

In [ ]:
for x in range(2,9):
  amount=0
  print("before",amount)
  amount=amount+x
  print("after",amount)
  print(x)

before 0
after 2
2
before 0
after 3
3
before 0
after 4
4
before 0
after 5
5
before 0
after 6
6
before 0
after 7
7
before 0
after 8
8

In [ ]:
amount=0
for x in range(2,9):
  print("before",amount)
  amount=amount+x
  print("after",amount)
  print(x)

before 0
after 2
2
before 2
after 5
3
before 5
after 9
4
before 9
after 14
5
before 14
after 20
6
before 20
after 27
7
before 27
after 35
8

In [ ]:
sum=0
for i in range(90,82,-1):
  sum=sum+i
print(sum)

692

In [ ]:
sum=0
for i in range(15,46):
  if(i%2!=0):
    sum=sum+i
print(sum)

480

In [ ]:
count=0
for i in range(1,96):
  if(i%6==0):
    count=count+1
    print(count)
print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
95

In [ ]:
count=0
amount=0

for i in range(1, 96):
    if(i % 6 == 0):
        count=count+1
        amount=amount+i

print(count, amount)

15 720

In [ ]:
city="JAIPUR"
for i in city:
  print(i)

J
A
I
P
U
R

In [ ]:
for i in "JAIPUR":
  print(i)

J
A
I
P
U
R

In [ ]:
city="JAIPUR"
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
city="JAIPUR"
for i in range(0,6):
  print(i, city[i])

0 J
1 A
2 I
3 P
4 U
5 R

In [ ]:
x="JAIPUR"
for i in range(0,6):
  print(i, x[i])

0 J
1 A
2 I
3 P
4 U
5 R

In [ ]:
x="JAIPUR"
for i in range(0,6):
  if (x[i]=='A' or x[i]=='U'):
    print(i)

1
4